.accordionButton {
	color: rgb(255, 255, 255);
	font-size: 1rem;
	padding: 0.1rem;
	line-height: 1.20rem;
	display: contents;
}

.accordionButton:hover {
	color: rgb(255, 255, 255);
}

.accordionTab {
	line-height: 0.5;
}

.accordionCardBody {
	border: 0.095rem solid var(--dark);
	background-color: white;
	padding-left: 1rem;
	font-size: 1.05rem;
}

.newsTag {
	margin-right: 0.5rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

.popover {
	max-width: 75rem;
	max-height: 75rem;
}

.popover-body {
	margin-right:2rem
	padding:0;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}