.accordionButton {
	color: rgb(255, 255, 255);
	font-size: 1.15rem;
	padding: 0.1rem;
	line-height: 0.75;
}

.accordionButton:hover {
	color: rgb(255, 255, 255);
}

.accordionTab {
	line-height: 0.5;
}

.accordionCardBody {
	border: 0.095rem solid var(--dark);
	background-color: white;
	padding-left: 1rem;
	font-size: 1.05rem;
}

.newsTag {
	margin-right: 0.5rem;
}