body {
	background-color: #ececec;
}

.container-fluid {
	padding-left: 3rem;
	padding-right: 3rem;
}

.row {
}

#topRow {
	height: 17rem;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

#bottomRow {
	height: 31rem;
	margin-top: 1.5rem;
	overflow-y: scroll;
	margin-bottom: 0rem;
	scroll-behavior: smooth;
}

.table {
	margin-bottom: 0rem
}