.container-fluid {
	padding-left: 3rem;
	padding-right: 3rem;
}

body {
	background-color: #ececec;
}

.row {
	height: 25rem;
	border: 1px solid black;
}

#topRow {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

#bottomRow {
	margin-top: 1.5rem;
	margin-bottom: 0rem;
}