.input,
.submit {
    display: inline-block;
    padding: 0.25rem 1rem;
    font-size: 0.90rem;
    border-radius: 0;
}

.input {
	text-align: center;
	max-width: 7rem;
}
.submit {
	max-width: 6rem;
}