.tickerpicker {
	line-height: 1.25;
	width: 10rem !important;
}

.tickerpicker button {
	border-color: var(--dark);
	border-radius: 0;
}

.builder-nav-button {
	border-radius: 0;
	height: 2.3rem;
	width: 7rem;
}

.builder-chain-params {
	margin-left: 1rem;
	margin-right: 1rem;
}

.builder-chain-params::placeholder {
	color: white;
}

.builder-chain-params::hover {
	background-color: #ececec;
}

.builder-chain-params:hover::placeholder {
	color: black;
}