/*Height and size of tab*/
.chainButton {
	color: rgb(255, 255, 255);
	font-size: 0.875rem;
	padding: 0.1rem;
	line-height: 0;
}

.chainButton:hover {
	color: rgb(255, 255, 255);
}

.wheelTab {
	line-height: 0.5;
}

.wheelCardBody {
	border: 0.095rem solid var(--dark);
	overflow-y: auto;
	background-color: #ececec;
	height: 25rem; 
	padding: 0rem;
}

.dataframe td, .dataframe th {
	font-size: 0.875rem;
	text-align: center;
	padding: 0rem;
}

.dataframe thead th {
	background-color: var(--dark);
	font-weight: lighter;
	position: sticky;
	color: white;
	border: 0;
	top: 0;
}

.buyOrder:hover {
	background-color: #7e73ff;
	cursor: copy;
}

.sellOrder:hover {
	background-color: #ff7373;
	cursor: copy;
}

.stockRow {
	box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.2);
	border-bottom: 0.125rem solid var(--dark);
	border-top: 0.125rem solid var(--dark);
	font-weight: bold;
}
