/*Height and size of tab*/
.btn {
	padding: 0.1rem;
	font-size: 0.875rem;
	line-height: 0;
}

/*Height of tab*/
.wheelTab {
	line-height: 0.5;
}

/*Color of option wheel*/
.wheelCardBody {
	background-color: #ececec;
	border: 0.095rem solid var(--dark);
}

.btn-link {
	color: rgb(255, 255, 255);
}
.btn-link:hover {
	color: rgb(255, 255, 255);
}

