.positionInfoCol {
	border: 1px solid black;
	padding-right: 0;
}

.viewTab {
	line-height: 0.5;
	color: white;
}

.viewBody {
	border: 0.095rem solid var(--dark);
	background-color: #ececec;
	overflow-y: auto;
	height: 14.7rem;
	padding: 0rem;
}

.info-table td, .info-table th {
	font-size: 0.875rem;
	text-align: center;
	padding: 0rem;
}

.info-table thead th {
	background-color: var(--dark);
	font-weight: lighter;
	position: sticky;
	color: white;
	border: 0;
	top: 0;
}
