.positionInfoCol {
	padding-right: 0;
}

.viewTab {
	line-height: 0.5;
	color: white;
}

.viewBody {
	border: 0.095rem solid var(--dark);
	background-color: #ececec;
	overflow-y: auto;
	height: 14.7rem;
	padding: 0rem;
}

.infoTable td, .infoTable th {
	font-size: 0.875rem;
	text-align: center;
	padding: 0rem;
}

.infoTable thead th {
	background-color: var(--dark);
	font-weight: lighter;
	position: sticky;
	color: white;
	border: 0;
	top: 0;
}

.positionTotalRow {
	border-top: 0.125rem solid var(--dark);
}

.positionIndex:hover {
	cursor: not-allowed;
}