.accordionButton {
	color: rgb(255, 255, 255);
	font-size: 0.875rem;
	padding: 0.1rem;
	line-height: 0;
}

.accordionButton:hover {
	color: rgb(255, 255, 255);
}

.accordionTab {
	line-height: 0.5;
}

.accordionCardBody {
	border: 0.095rem solid var(--dark);
	background-color: white;
	padding: 0rem;
}

#optionSelect + button {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
}

.actionEntry {
	border: 1px solid black;
    height: 10rem;
    overflow-y: scroll;
}

.quantityInput {
	text-align: center;
	border-radius: 0px;
	line-height: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.positionsRow {
	padding: 0.5rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.cancelPositionButton { 
	margin-right: -0.25rem;
	margin-top: 0.475rem;
	font-size: 1.05rem;
	float: right;
	color: red;
}