.tickerPicker {
	line-height: 1.25;
	width: 10rem !important;
}

.tickerPicker button {
	border-color: var(--dark);
	border-radius: 0;
}

.pageTabButton {
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	margin-right: 0.5rem
}

.navButton {
	margin-right: 1rem;
	border-radius: 0;
	height: 2.3rem;
	width: 7rem;
}

.navButton::placeholder {
	color: white;
}

.navButton::hover {
	background-color: #ececec;
}

.navButton:hover::placeholder {
	color: black;
}

.positionBuilder {
	border-right: 1px solid rgba(0, 0, 0, 0.5);
	height: 23.5rem
}

.squared {
	border-radius: 0px;
}

