.tickerPicker {
	line-height: 1.25;
	width: 10rem !important;
}

.tickerPicker button {
	border-color: var(--dark);
	border-radius: 0;
}

.builderNavButton {
	margin-right: 1rem;
	border-radius: 0;
	height: 2.3rem;
	width: 7rem;
}

.builderNavButton::placeholder {
	color: white;
}

.builderNavButton::hover {
	background-color: #ececec;
}

.builderNavButton:hover::placeholder {
	color: black;
}