<!DOCTYPE html>
<html>
<head>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		var ajax = $.ajax;
	</script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- Bootstrap End -->

	<!-- Chart.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<!-- Chart.js End -->

	<!-- Trading View -->
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	<!-- Trading View End -->

	<!-- Bootstrap Select -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<!-- Bootstrap Select End -->

	<!-- Custom -->
	<link rel="stylesheet" type="text/css" href="/static/css/builder/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/builder/option_chain.css">
	<link rel="stylesheet" type="text/css" href="/static/css/builder/position_info.css">
	<link rel="stylesheet" type="text/css" href="/static/css/builder/stock_info.css">
	<link rel="stylesheet" type="text/css" href="/static/css/builder/execution.css">
	<link rel="stylesheet" type="text/css" href="/static/css/builder/modals.css">
	<link rel="stylesheet" type="text/css" href="/static/css/builder/main.css">

	<script type="text/javascript" src="/static/js/builder/parameters.js"></script>
	<script type="text/javascript" src="/static/js/builder/position.js"></script>
	<script type="text/javascript" src="/static/js/builder/globals.js"></script>
	<!-- Custom End -->

</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
		<a class="navbar-brand" href="#">CG</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/builder">Builder</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Surface</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Monitor</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/calculators">Calculators</a>
				</li>
			</ul>
		</div>

		<form class="form-inline" action="/builder">
			
			<select class="selectpicker form-control tickerPicker" data-live-search="true" title="Ticker.." id="tickerSelect" name="ticker">
				{% if builder %}
				{{builder._ticker_options | safe}}
				{% endif %}
			</select>

			<select class="selectpicker form-control tickerPicker" data-live-search="true" title="Date.." id="tickerDateSelect" name="date"></select>

			<button type="submit" class="btn btn-outline-light builderNavButton">Fetch</button>

		</form>

	</nav>
	<!-- Navbar End -->

	<!-- Main Container -->
	<div class="container-fluid">
		
		<div class="row" id="topRow">
			
			<!-- Position Info Column -->
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 infoCol">

				<!-- Stock Card -->
				<div class="card bg-dark" style="margin-bottom: 3rem; margin-top: 1rem">

					<div class="card-body stockViewBody">

						<table class="table table-hover infoTable">
							
							<thead>
								<tr>
									<th style="width: 0.75rem"></th>
									<th scope="col">Company Name</th>
									<th scope="col">Industry</th>
									<th scope="col">Sector</th>
									<th scope="col">Daily Change</th>
									<th scope="col">Rel. Volume</th>
									<th scope="col">Div. Yield</th>
									<th scope="col">52W Pos.</th>
									<th scope="col">% Held by Inst.</th>
									<th scope="col">Short Ratio</th>
								</tr>
							</thead>

							<tbody>

								{% if builder.ticker %}
									{{builder.ticker._stock_info_row | safe}}
								{% endif %}

							</tbody>

						</table>

					</div>

				</div>
				<!-- Position Card Body End -->

				<!-- Position Card -->
				<div class="card bg-dark">

					<div class="card-body viewBody">

						<table class="table table-hover infoTable" id="positionInfoTable">
							
							<thead>
								<tr>
									<th style="width: 0.5rem"></th>
									<th scope="col"></th>
									<th scope="col">Options</th>
									<th scope="col">Qty</th>
									<th style="width: 1.25rem"></th>
									<th scope="col">
										Cost<br>per Unit
									</th>
									<th scope="col">Premium</th>
									<th scope="col">I.V</th>
									<th scope="col">Moneyness</th>
									<th scope="col">
										Pct<br>Premium
									</th>
									<th style="width: 1.25rem"></th>
									<th scope="col">
										Delta
										<br>
										(Shares)
									</th>
									<th scope="col">
										Delta<br>($)
									</th>
									<th scope="col">
										Vega<br>($)
									</th>
									<th scope="col">
										Theta<br>($)
									</th>
									<th style="width: 0.25rem"></th>
								</tr>
							</thead>

							<tbody>

								{% for i in range(4) %}
								{{builder.position_info['empty_option_row'] | safe}}
								{% endfor %}

								{{builder.position_info['empty_agg_row'] | safe}}

							</tbody>

						</table>

					</div>

				</div>
				<!-- Position Card Body End -->

			</div>
			<!-- Position Info Column End -->

			<!-- Risk Graph  -->
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
				
				<canvas id="riskGraph" width="6" height="2" style="position: absolute; bottom: -0.6rem;"></canvas>

			</div>
			<!-- Risk Graph End -->

		</div>

		<!-- Lower Row -->
		<div class="row" id="bottomRow" style="overflow-y: scroll">

			<!-- Lower Row Col -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				
				<!-- Option Chain -->
				<div class="accordion" id="optionChainAccordion">
					{% if builder.ticker %}
					{{builder.ticker._option_chain | safe}}
					{% endif %}
				</div>
				<!-- Option Chain End-->

			</div>
			<!-- Lower Row Col End -->

		</div>
		<!-- Lower Row End-->

	</div>
	<!-- Main Container End -->

	<!-- Lower Navbar -->
	<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<input class="btn btn-outline-light builderNavButton" placeholder="Multiplier" id="multiplier" onchange="onChangeMultiplier()">
			<input class="btn btn-outline-light builderNavButton" placeholder="Moneyness" id="moneyness" onchange="onChangeMoneyness()">
			<input class="btn btn-outline-light builderNavButton" placeholder="U. Change" id="uChange" onchange="onChangeUChange()">
		</div>

		<button class="btn btn-outline-light builderNavButton" type="button" id="executeButton" data-toggle="modal" data-target="#executeModal">Execute</button>

		<button class="btn btn-outline-light builderNavButton" type="button" id="candlesButton" data-toggle="modal" data-target="#candlesModal">Candles</button>

		<form class="form-inline" action="/builder">
			<button type="button" class="btn btn-outline-light builderNavButton">Analyze</button>
		</form>

	</nav>
	<!-- Lower Navbar End -->

	<!-- Execute Modal -->
	<div class="modal fade" id="executeModal" tabindex="-1" role="dialog" aria-labelledby="executeModal" aria-hidden="true">

		<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 40rem;">
			
			<div class="modal-content">

				<div class="modal-header">

					<div class="container-fluid executionContainer">
						
						<div class="row">

							<h5>Credentials</h5>
							<div class="input-group mb-3">

								<div class="input-group-prepend">
									<label class="input-group-text" for="executeUsernameSelect">Username</label>
								</div>

								<select class="custom-select" id="executeUsernameSelect">
									<option value="Joe" selected>Joe</option>
									<option value="Lucas">Lucas</option>
									<option value="Pucci">Pucci</option>
									<option value="Zach">Zach</option>
								</select>

							</div>

						</div>

						<div class="row">
							
							<div class="input-group mb-3" style="margin-bottom: 0rem !important">
								<div class="input-group-prepend">
									<span class="input-group-text executionInputLabel" id="executePassword">Password</span>
								</div>
								<input type="password" class="form-control" aria-label="Password" aria-describedby="executePassword" id="executePasswordInput">
							</div>

						</div>


					</div>

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>

				<div class="modal-body">

					<div class="container-fluid executionContainer">
						
						<div class="row">
							
							<h5>Position Summary</h5>
							<table class="table table-hover table-sm" id="executionSummaryTable">
								
								<thead>
									
									<tr>
										<th scope="col">#</th>
										<th scope="col">Option ID</th>
										<th scope="col">Quantity</th>
										<th scope="col">Premium</th>
										<th scope="col">Net Premium</th>
									</tr>

								</thead>

								<tbody>

								</tbody>

							</table>

						</div>

						<div class="row">

							<h5 class="executionTextHeader" style="padding-top: 1rem">Tags</h5>
							<div class="input-group mb-3">

								<div class="input-group-prepend">
									<label class="input-group-text executionInputLabel" for="executeDirectionSelect">Direction</label>
								</div>

								<select class="custom-select" id="executeDirectionSelect">
									<option value="None" selected>None</option>									
									<option value="Long">Long</option>
									<option value="Short">Short</option>
								</select>

							</div>

						</div>

						<div class="row">
							
							<div class="input-group mb-3">

								<div class="input-group-prepend">
									<label class="input-group-text executionInputLabel" for="executeStrategySelect">Strategy</label>
								</div>

								<select class="custom-select" id="executeStrategySelect">
									<option value="None" selected>None</option>
									<option value="Call">Call</option>
									<option value="Put">Put</option>
									<option value="Call Spread">Call Spread</option>
									<option value="Put Spread">Put Spread</option>
									<option value="Straddle">Straddle</option>
									<option value="Strangle">Strangle</option>
									<option value="Iron Condor">Iron Condor</option>
									<option value="Iron Butterfly">Iron Butterfly</option>
									<option value="Custom">Custom</option>
								</select>

							</div>

						</div>

						<div class="row">
							
							<div class="input-group mb-3">

								<div class="input-group-prepend">
									<label class="input-group-text executionInputLabel" for="executeSentimentSelect">Sentiment</label>
								</div>

								<select class="custom-select" id="executeSentimentSelect">
									<option value="None" selected>None</option>
									<option value="Bullish">Bullish</option>
									<option value="Bearish">Bearish</option>
									<option value="Neutral">Neutral</option>
								</select>

							</div>

						</div>
						
						<div class="row">
							
							<h5 class="executionTextHeader">Notes</h5>
							<textarea rows="5" cols="100" id="executionTradeNotes"></textarea>

						</div>

						<div class="row" style="padding-top: 1rem; padding-bottom: 0rem">						

							<div class="input-group mb-3">

								<div class="input-group-prepend">
									<span class="input-group-text">Upload</span>
								</div>

								<div class="custom-file">
									<input type="file" class="custom-file-input" id="executeImageInput" onchange="encodeImagesAsB64()" accept="image/*" multiple>
									<label style="overflow-y: hidden;"class="custom-file-label" for="executeImageInput" id="executeImageLabel">Choose Images</label>
								</div>

							</div>

						</div>

					</div>


				</div>

				<div class="modal-footer executeModalFooter" style="padding: 0.25rem">

					<span id="modalStatusBadge" class="badge badge-secondary mr-auto">Pending</span>

					<button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCancelButton">Cancel</button>
					<button disabled type="button" class="btn btn-primary" id="modalExecuteButton">Execute</button>

				</div>

			</div>

		</div>

	</div>
	<!-- Execute Modal End-->

	<!-- Candles Modal -->
	<div class="modal fade" id="candlesModal" tabindex="-1" role="dialog" aria-labelledby="candlesModal" aria-hidden="true">

		<div class="modal-dialog modal-dialog-centered modal-lg modal-sm" role="document">

			<div class="modal-content candlesContent">

				<div class="modal-body" id="candlesModalBody">

					<!-- TradingView Widget BEGIN -->
					<div class="tradingview-widget-container">

						<div id="tradingviewDiv"></div>

					</div>
					<!-- TradingView Widget END -->

				</div>

			</div>

		</div>

	</div>
	<!-- Candles Modal End -->

	<script type="text/javascript">

		initGlobals({{builder.position_info|tojson|safe}},
			{{builder.unique_dates|tojson|safe}},
			{{builder.ticker_dates|tojson|safe}},
			{{builder.position_summary|tojson|safe}});

		{% if builder.ticker %}
		initTicker({{builder.ticker.option_data|tojson|safe}},
			{{builder.ticker.stock_info|tojson|safe}},
			{{builder.ticker.ticker|tojson|safe}},
			{{builder.ticker.date|tojson|safe}})
		{% endif %}

	</script>

</body>
</html>