<!DOCTYPE html>
<html>
<head>

	<title>Vol Monitor</title>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		var ajax = $.ajax;
	</script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- Bootstrap End -->

	<!-- Bootstrap Select -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
	<!-- Bootstrap Select End -->

	<!-- Custom -->
	<link rel="stylesheet" type="text/css" href="/static/css/monitor/monitor.css">
	<script type="text/javascript" src="/static/js/monitor/monitor.js"></script>
	<!-- Custom End -->

</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		
		<a class="navbar-brand" href="#">CG</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			
			<ul class="navbar-nav">
				
				<li class="nav-item">
					<a class="nav-link active" href="/monitor">Monitor</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/builder">Builder</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/calculator">Greek Calculator</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/scenarios">Scenario Analysis</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/iv">IV</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/news">News</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/surface">Surface</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/density">Density</a>
				</li>

			</ul>

			<ul class="navbar-nav ml-auto">
					
					<button id="parameterPopover" type="button" class="btn btn-outline-light" data-container="body" data-toggle="popover" data-placement="left" style="width: 10rem; border-radius: 0">
						Parameters
					</button>
					<button type="submit" form="parameterForm" class="btn btn-outline-light" style="width: 10rem; border-radius: 0; margin-left: 1rem">
						Fetch
					</button>

			</ul>

		</div>

	</nav>
	<!-- Navbar End -->

	<!-- Main Container -->
	<div class="container-fluid" style="width: 98%; margin-top: 1rem; margin-bottom: 1rem;">

		<h3>Singles</h3>

		<table class="table table-sm table-hover" style="text-align: center">
			
			<thead>
				
				<tr>

					<th scope="col" colspan="2"> </th>
					<th scope="col" colspan="3"> </th>
					<th scope="col" colspan="7">Spot</th>
					<th scope="col" colspan="3"> </th>
					<th scope="col" colspan="5">Flows</th>
					<th scope="col" colspan="3"> </th>
					<th scope="col" colspan="7">Volatility</th>
					<th scope="col" colspan="2"> </th>
					<th scope="col" colspan="4">Skew & Term Structure</th>

				</tr>

				<tr>

					<th scope="col" style="text-align: left;">Ticker</th>
					<th scope="col" style="text-align: left;">Name</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col">Last Px</th>
					<th scope="col">1D$&#916;</th>
					<th scope="col">1D%&#916;</th>
					<th scope="col">&#918;-Score</th>
					<th scope="col">1W%&#916;</th>
					<th scope="col">1M%&#916;</th>
					<th scope="col">1Y%&#916;</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col">Notional</th>
					<th scope="col">RCV</th>
					<th scope="col">RPV</th>
					<th scope="col">RTV</th>
					<th scope="col">Put/Call OI</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col">i.&sigma;</th>
					<th scope="col">1D&#916;</th>
					<th scope="col">1W&#916;</th>
					<th scope="col">{{monitor.params.term_one}}M r.&sigma;</th>
					<th scope="col">{{monitor.params.term_two}}M r.&sigma;</th>
					<th scope="col">V.R.P</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col">D.Skew</th>
					<th scope="col">U.Skew</th>
					<th scope="col">F.Skew</th>
					<th scope="col">{{monitor.params.term_two}}m - {{monitor.params.term_one}}m</th>

				</tr>

			</thead>

			{% if monitor._data %}
				{{monitor._data.singles | safe}}
			{% endif %}

		</table>

		<h3>Spreads</h3>

		<table class="table table-sm table-hover" style="text-align: center">
			
			<thead>
				
				<tr>

					<th scope="col" colspan="1"> </th>
					<th scope="col" colspan="3"> </th>
					<th scope="col" colspan="14">{{monitor.params.term_one}}M Spread</th>
					<th scope="col" colspan="3"> </th>
					<th scope="col" colspan="14">{{monitor.params.term_two}}M Spread</th>

				</tr>

				<tr>

					<th scope="col" style="text-align: left;">Ticker</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col">i.&sigma; Spread</th>
					<th scope="col">1D&#916;</th>
					<th scope="col">1W&#916;</th>
					<th scope="col">1M&#916;</th>
					<th scope="col">r.&sigma; Spread</th>
					<th scope="col">Carry</th>
					<th scope="col">&#918;-Score</th>
					<th scope="col">Mean</th>
					<th scope="col">Min</th>
					<th scope="col">Max</th>
					<th scope="col">Rank</th>
					<th scope="col">Pct. Rank</th>
					<th scope="col">3M Corr.</th>
					<th scope="col">6M Corr.</th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col"> </th>
					<th scope="col">i.&sigma; Spread</th>
					<th scope="col">1D&#916;</th>
					<th scope="col">1W&#916;</th>
					<th scope="col">1M&#916;</th>
					<th scope="col">r.&sigma; Spread</th>
					<th scope="col">Carry</th>
					<th scope="col">&#918;-Score</th>
					<th scope="col">Mean</th>
					<th scope="col">Min</th>
					<th scope="col">Max</th>
					<th scope="col">Rank</th>
					<th scope="col">Pct. Rank</th>
					<th scope="col">3M Corr.</th>
					<th scope="col">6M Corr.</th>

				</tr>

			</thead>

			{% if monitor._data %}
				{{monitor._data.spreads | safe}}
			{% endif %}

		</table>


	</div>
	<!-- Main Container End -->

	<div id="parameterFormDiv" hidden>

		<form action="/monitor" method="get" id="parameterForm">	

			<div class="container-fluid" style="width: 50rem; padding-right: 3rem;">

				<div class="form-group row">

					<label for="termOneInput" class="col-2 col-form-label">Term One</label>
					<div class="col-4">
						<select class="form-control squared" name="termOne" id="termOneInput">
							<option value="1">1M</option>
							<option value="2">2M</option>
							<option value="3">3M</option>
							<option value="6">6M</option>
							<option value="9">9M</option>
							<option value="12">12M</option>
							<option value="18">18M</option>
							<option value="24">24M</option>
						</select>
					</div>

					<label for="termTwoInput" class="col-2 col-form-label">Term Two</label>
					<div class="col-4">
						<select class="form-control squared" name="termTwo" id="termTwoInput">
							<option value="1">1M</option>
							<option value="2">2M</option>
							<option value="3">3M</option>
							<option value="6">6M</option>
							<option value="9">9M</option>
							<option value="12">12M</option>
							<option value="18">18M</option>
							<option value="24">24M</option>
						</select>
					</div>

				</div>

				<div class="form-group row">

					<label for="downStrikeInput" class="col-2 col-form-label">Down Strike</label>
					<div class="col-4">
						<select class="form-control squared" name="downStrike" id="downStrikeInput">
							<option value="80">80</option>
							<option value="85">85</option>
							<option value="90">90</option>
							<option value="95">95</option>
							<option value="100">100</option>
							<option value="105">105</option>
							<option value="110">110</option>
							<option value="115">115</option>
							<option value="120">120</option>
						</select>
					</div>

					<label for="upStrikeInput" class="col-2 col-form-label">Up Strike</label>
					<div class="col-4">
						<select class="form-control squared" name="upStrike" id="upStrikeInput">
							<option value="80">80</option>
							<option value="85">85</option>
							<option value="90">90</option>
							<option value="95">95</option>
							<option value="100">100</option>
							<option value="105">105</option>
							<option value="110">110</option>
							<option value="115">115</option>
							<option value="120">120</option>
						</select>
					</div>

				</div>

				<div class="form-group row">

					<label for="lookbackInput" class="col-2 col-form-label">Lookback</label>
					<div class="col-4">
						<select class="form-control squared" name="lookback" id="lookbackInput">
							<option value="1">1M</option>
							<option value="3">3M</option>
							<option value="6">6M</option>
							<option value="9">9M</option>
							<option value="12">12M</option>
						</select>
					</div>

					<label for="endDateInput" class="col-2 col-form-label">End Date</label>
					<div class="col-4">
						<input class="form-control squared" name="endDate" id="endDateInput" type="date">
					</div>

				</div>

				<div class="form-group row">

					<label for="tickerListInput" class="col-2 col-form-label">Ticker List</label>
					<div class="col-10">
						<select class="form-control squared" name="tickerList" id="tickerListInput">
							<option value="main">Main - Indices, Sectors, Commodities, Rates, Big Tech</option>
						</select>
					</div>

				</div>

			</div>

		</form>

	</div>

	<script type="text/javascript">

		$('#parameterPopover').popover({
		  content: $("#parameterFormDiv > form"),
		  html: true
		});
		document.getElementById('endDateInput').valueAsDate = new Date();
		
		$("#termOneInput").val({{monitor.params.term_one}}).change()
		$("#termTwoInput").val({{monitor.params.term_two}}).change()
		
		$("#upStrikeInput").val({{monitor.params.up_strike}}).change()
		$("#downStrikeInput").val({{monitor.params.down_strike}}).change()
		

		$("#lookbackInput").val({{monitor.params.lookback}}).change()
		$("#endDateInput").val("{{monitor.params.end_date}}").change()
		$("#tickerListInput").val("{{monitor.params.ticker_list}}").change()

	</script>

	</body>

</html>